.App-footer {
    background-color: #1f0344;
    height: 50px !important;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #8a05ac;
    padding-left: 10px;
    padding-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    position: fixed;
    border-top: 10px solid #000000;
    text-align: center;
    bottom: 0;
  }

  @media(max-width: 960px){
    .App-footer {
      align-items: center !important;
      justify-content: center !important;
      text-align: center;
      font-size: 10px;
      height: 15px !important;
    }
    
  }