.App-header {
    background-color: #1f0344;
    width: 100%;
    align-items: initial;
    justify-content: left;
    font-size: calc(10px + 2vmin);
    color: #8a05ac;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 0;
    border-bottom: 10px solid #000000;
  }

  @media(max-width: 960px){
    .App-header {
      align-items: center !important;
      justify-content: center !important;
      text-align: center;
      font-size: 10px;
      height: 20px;
    }
    
  }